footer {
<<<<<<< HEAD
	background-color: #00FF00;
	height: 60px;
	width: 100%;
	bottom: 0px;
	position: absolute;
}
footer p{
	margin-top: 20px;
	text-align: center;
}
=======
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    line-height: 60px;
    position: fixed;
    bottom: 0;
    text-align: center;
}
>>>>>>> 045d1b03cd9d81eda7bf35421a2a176f5d99e53a
