body {
<<<<<<< HEAD
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-size: 14px;
	font-family: Circular, "Helvetica Neue", Arial, Helvetica, sans-serif;
	align-content: center;
}
=======
    color: #484848;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
>>>>>>> 045d1b03cd9d81eda7bf35421a2a176f5d99e53a
