header {
<<<<<<< HEAD
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #cccccc;
}
.logo {
	background-image: url("../images/logo.png");
	height: 60px;
	margin-left: 20px;
	width: 150px;
}
=======
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    background-image: url(../images/logo.png);
    height: 60px;
    width: 142px;
    margin: 20px;
}
>>>>>>> 045d1b03cd9d81eda7bf35421a2a176f5d99e53a
